<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/utility.css">
</head>

<body>
    <div class="main-container">
        <div class="userinfo ">
            <div class="info">
                <h1 ><%= adminInfo.schoolname.charAt(0).toUpperCase() + adminInfo.schoolname.slice(1) %></h1>

                <h3 ><%= adminInfo.contactnum %></h3>
                <h3 class="h2-color-admin"><%= adminInfo.emailid %></h3></h3>


                <form action="/upload-teacher-profile" method="post" enctype="multipart/form-data">
                    <label for="profileInput" class="btn-admin">Upload Profile Image</label>
                    <input  class="disp-none" type="file" name="userProfile" id="profileInput" >
                     <button  type="submit" id="changePfp" class=" disp-none upload-btn">Upload</button>
                </form>
                <script src="/scripts/pfp-upload.js"></script>
            </div>
            <div class="img-cont">
                <img src="/images/userimg.png" alt="">
            </div>
        </div>
        <div class="options">

            <div class="opt-cards card">

                <img src="/images/see atendence.png" alt="see teachers">
                <button class="opt-btn"><span>View</span> <span>Teachers</span></button>
            </div>

            <div class="opt-cards card cover">
                <img src="/images/viewstd.jpg" alt="view students">
                <button class="opt-btn"><span>View </span> <span>Students</span></button>
            </div>
        </div>
    </div>
</body>

</html>