<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="../styles/options.css">
    <link rel="stylesheet" href="../styles/utility.css">
</head>
<body>
    <div class="nav">
        <div class="nav-links">
            <a href="/teacher/">Home</a>
            <a href="/teacher/mark-attendence">Mark Attendence</a>
            <a href="">View Attendence</a>
            <a href="/teacher/give-homework">Give Homework</a>
            <a href="">Give Testscores</a>
        </div>
    </div>
    <div class="mark-cont2">
        <form id="findStudentsForm">
            <input type="number" name="studentClass" id="studentClass" required placeholder="Class" min="1" max="12">
            
            <button type="submit" class="sbmt-btn test-sbmt-btn">View Students</button>
        </form>
        <script src="../scripts/give_testscores.js"></script>
    </div>
    <div class="upload-marks-table disp-none">
        <form >

            <table id="marksTable">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roll No.</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Exam</th>
                    <th>Total Marks</th>
                    <th>Obtained Marks</th>
                </tr>
              
            </table>
            <button type="submit" class="submit-marks-button">Save</button>
        </form>
    </div>
    
  
   
</body>
</html>