<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="../styles/options.css">
    <link rel="stylesheet" href="../styles/utility.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="nav">
        <div class="nav-links">
            <a href="/teacher/">Home</a>
            <a href="/teacher/mark-attendence">Mark Attendence</a>
            <a href="/teacher/view-attendence">View Attendence</a>
            <a href="/teacher/give-homework">Give Homework</a>
            <a href="/teacher/upload-testscores">Give Testscores</a>
        </div>
        <div class="logout-box">
            <a href="/teacher/logout">Logout</a>
        </div>
        <div class="hamburger-container">
            <img id="ham-icon" src="../images/hamburger.svg" alt="hamburger icon">
        </div>
        <script src="../scripts/navbar.js"></script>
    </div>
    <div class="mark-cont mark-cont3">
        <form id="viewAttendenceForm">
            <input type="number" name="studentClass" id="studentClass" required placeholder="Class" min="1" max="12">
            <input type="number" name="studentRollNum" id="studentRollNum" required placeholder="Roll No." >
            
            <button type="submit" class="sbmt-btn test-sbmt-btn">View Attendence</button>
        </form>
       
    </div>
    <div class="main-container disp-none">
        <div class="userinfo">
            <div class="info">
                <h1 id="name"></h1>
                <h3 id="class" ></h3>
                <h3 id="contactnum" ></h3>
                <h3 id="rollnum"></h3>
                <h3 id="schoolname"></h3>
                
            </div>
            <div class="img-cont">
                <img src='' id="pfp" alt="userimg">
            </div>
        </div>
    </div>
    <div class="chart-cont disp-none">
        <div class="chart">
             <canvas id="attendenceChart"></canvas>
            <div>*Attendence In Last Five Months</div>
        </div>
        <div class="chart2">
            <span id="attendencePercent"></span>
            <canvas id="attendenceYearChart"></canvas>
            <div>*Attendence This Year</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
    <script src="../scripts/view_attendence.js"></script>
    </body>
    </html>