@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #1D1C1C;
}
.main-container{
    width: 90%;
    height: fit-content;
    
    margin:10px auto;
}
.userinfo{
    max-width:100%;
    height: 50%;
    background-color: #2E2E2E; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 58px;
    border-radius: 18px;
   color: white;
   
    
}

.img-cont {
height:260px;
width: 260px;

border-radius: 50%;

}
.img-cont img{
    height: 100%;
    width: 100%;
    
}

.info form{
    display: flex;
    gap: 10px;
}
.info label{
    
    padding: 15px 12px;
    border-radius: 6px;
    
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: white;
}
.info{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.info button{
    
    color: white;
    border: none;
    width: fit-content;
    padding: 15px;
    border-radius: 6px;
    font-weight: bolder;
    cursor: pointer;
    
}


.options{
    max-width: 90%;
    margin: 25px auto;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.opt-cards{
    background-color: #2E2E2E; 
    position: relative;
    border-radius: 15px;
}

.opt-cards img{
    height: 180px;
    width: 150px;
    border-radius: 15px;
    filter: invert(1);
    padding: 15px;
    
    
}

.opt-btn span{
    display: block;

}
.opt-btn{
    background: linear-gradient(68deg, rgba(88,245,255,1) 0%, rgba(194,119,211,1) 54%, rgba(255,137,111,1) 100%);
    color: white;
    display: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
   border-radius: 25px;
    padding: 2px 20px;
    position: absolute;
  left: 30px;

  bottom: -50px;
   z-index: 10;
   box-shadow: 0px 1px 5px gray;
  cursor: pointer;
  
  
}
.card:hover .opt-btn{
    display: inline-block;
    
    transform: translateY(-66px);
    transition: transform 1s ease-out;
}
.card:hover{
    transform: scale(105%);
    transition: transform 0.05s ease-out;
    z-index: 5;
    
}
.card:hover img{
    
    border: 2px solid #2E2E2E;
 
    box-shadow: 0px 1px 6px gray;
 
}
@media only screen and (min-width: 1500px){
.userinfo{
    max-width: 1200px;
    margin: 0px auto;
}
.options{
    max-width: 1200px;
}
}
@media only screen and (max-width: 1200px){
   
    .opt-btn{
        display: inline-block;
        left: 30px;
        bottom: 15px;
    }
    .card:hover .opt-btn{
        display: inline-block;
        transform: translateY(0px);
        
    }
    .card:hover{
        transform: scale(100%);
       
        z-index: 0;
        
    }
    .card:hover img{
        
        border:none;
    }

}
@media only screen and (max-width: 785px){
.options{
    margin-top: 50px;
    justify-content: center;
    max-width: 60%;
   
}
.opt-cards{
    margin: 30px 0px;
}
.opt-btn{
    bottom: -53px;
}
}
@media only screen and (max-width: 725px){
.userinfo{
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
}
.img-cont{
    height: 50%;
    width: 50%;
}

.info h1{
    font-size: 27px;
}
.options{
    justify-content: center;
}

}