.width{
    width: 100;
}
.flex{
    display: flex;
}
.flex-colm{
    flex-direction: column;
}
.gap{
    gap:10px;
}
.gap3{
    gap:3px;
}
.margintop{
    margin-top: 10px;
}
.font{
    font-size: 10px;
}

.upload-btn{
    background: linear-gradient(68deg, rgba(88,245,255,1) 0%, rgba(194,119,211,1) 54%, rgba(255,137,111,1) 100%);
    font-size: 15px;
}
.disp-none{
    display: none;
}
.disp-inline{
    display: inline;
}
.left37{
    left: 37px;
}
.white{
    color: white;
}
.text-decoration-none{
    text-decoration: none;
}