<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="/styles/index.css">
   
</head>
<body>
    <div class="main-container">
        <div class="userinfo std-bg">
            <div class="info">
                <h1>Devpratap Tomar</h1>
                <h3>Class: 3</h3>
                <h3>8128161967</h3>
                <h3>Roll No.: 23</h3>
                <h3>Anant School Of Excellence</h3>
                <button id="changePfp">Change Profile Picture</button>
            </div>
            <div class="img-cont">
               
            </div>
        </div>
        <div class="options">
            <div class="opt-cards card">

                <img src="/images/see atendence.png" alt="see attendence">
                <button class="opt-btn"><span>View</span> <span>Attendence</span></button>
             
                

            </div>
            <div class="opt-cards card">
                <img src="/images/give homework.png" alt="see homework">
                <button class="opt-btn"><span>View</span> <span>Homework</span></button>
            </div>
            <div class="opt-cards card">
                <img src="/images/give test score.jpg" alt="view testscore">
                <button class="opt-btn"><span>View</span> <span>Testscores</span></button>
            </div>
        </div>
    </div>
</body>
</html>