<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Record System</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    
        <div class="register-box">
            <div class="rol-nav">
                <div class="rol-cont">
                    <a href=""><span >ADMIN</span></a>
                    <a href=""><span>TEACHER</span></a>
                    <a href=""><span id="student-span">STUDENT</span></a>
                </div>
            </div>
            <div class="inputs">
                <form action="/student-rgister" method="POST">
                    <div class="row1">
                    <div class="col">
                        <input type="text" id="firstname" name="firstname" required placeholder="First name*"/>
                        <input type="number"  id="rollnum" name="rollnum" required placeholder="Roll No.*" />
                        <input type="tel" id="phonenumber" name="phonenumber" required placeholder="Contact No.*"/>
                    </div>
                    <div class="col">
                        <input type="text" id="lastname" name="lasttname" required placeholder="Last name*"/>
                        <input type="text" id="schoolname" name="schoolname" required placeholder="School Name*"/>
                        <div class="gender-field">
                            <input type="radio" id="male" name="gender" required/>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" required/>
                            <label for="female">Female</label>
                        </div>
                    </div>
                    </div>
                    <div class="row2">
                        <input type="password" id="password" name="password" required placeholder="Password*"/>
                        <input type="password" id="confirm-password" name="confirmpassword" required placeholder="Confirm Password"/>
                        <input type="number" id="student-class" name="studentclass" required placeholder="Class*"/>
                    </div>
                    <div class="row3">
                        <button type="submit" class="sbmt-btn">Register</button>
                        <a href="/student-login">Login</a>

                    </div>
                </form>
            </div>
        </div>
    
</body>
</html>